[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
requests = "*"
ipykernel = "*"
google = {git = "https://github.com/abenassi/Google-Search-API"}
python-whois = "*"
beautifulsoup4 = "*"
ipdb = "*"

[requires]
python_version = "3.5"
